body p {
    font-size: 100%;
}

#detail_wrapper {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.product_box {
    float: left;
    margin: 0 !important;
}

.product_details {
    background-color: #999;
    height: 400px;
}

#screening_details h3 {
    text-align: center;
    padding: 0.3em 0;
}

#screening_details hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #6C7A89;
    margin: auto;
    padding: 0;
    width: 60%;
}

#screening_details ul {
    list-style-type: none;
    text-align: center;
}

#screening_details button {
    background-color: #C6AC7B;
    border: none;
    width: 60.5%;
    padding: 15px 32px;
    margin-top: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#screening_details button:hover {
    background-color: #7C6F55;
}

#movie_desc {
    position: relative;
}
