body {
    background-color: #DDD;
}

#movie_offer_wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Movie offer Filter Bar */
#filter_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#filter_bar button {
    float: left;
    border: none;
    display:table-cell;

    width: 25%;
    padding: 8px;
    background-color: #333;
    color: white;
    font-weight: 200;
    text-align: center;
}

#filter_bar button:hover {
    background-color: #111;
}

/* Movie offer Content */
#movie_offer_wrapper ul {
    text-align: center;
}

ul.products li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.product_box {
    margin: 0.1em;
    width: 250px;
    height: 400px;
    background-color: #888;
}

.product_box h2 {
    padding: 0.2em 0;
    font-weight: 500;
    text-align: center;
}

.product_box .movie_summ_box {
    background-color: #999;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 60%;
    font-weight: 100;
}

.product_box .movie_summ_content {
    width: 80%;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

.product_box .movie_category {
    float: right;
}

.product_box .movie_desc {
    padding: 0.3em;
    padding-bottom: 0;
    font-size: 90%;
    overflow:hidden;
    text-overflow: ellipsis;
}
